extends ./layouts/page

block vars
    - var title = 'Bootstrap'

block body

    h1 Bootstrap Page
    
    //- Typography Section
    h2 Typography

    //- Headings Subsection
    h3 Headings
    h1 H1 Heading
    h2 H2 Heading
    h3 H3 Heading
    h4 H4 Heading
    h5 H5 Heading
    h6 H6 Heading

    //- Display Headings Subsection
    h3 Display Headings
    h4.display-1 Display 1
    h4.display-2 Display 2
    h4.display-3 Display 3
    h4.display-4 Display 4

    //- Lead paragraph Subsection
    h3 Lead paragraph
    p.lead Lead paragraph example